<div class="generic-container" ng-controller="EnseignantController as ctrl">
		<div ng-class="ctrl.errors.classe">
                <div class="tablecontainer"><span class="error">{{ctrl.errors.msg}}</span></div>
        </div>
        <div ng-class="ctrl.valider.classe">
                <div class="tablecontainer"><span class="success">{{ctrl.valider.msg}}</span></div>
        </div>

 	<div class="panel panel-default" ng-show="ctrl.ajouterDiv">
        <div class="panel-heading"><span class="lead">Ajouter Formation</span></div>
        <div class="formcontainer">
            
            <form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
                     
                <div class="row">

                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="noEnseignant">Code</label>
                        <div class="col-md-7">
                            <input type="text" ng-model="ctrl.enseignant.noEnseignant" id="noEnseignant"
                                   class="title form-control input-sm"
                                   placeholder="Entrez votre num d'enseignant" required
                                   pattern="[0-9]{1,4}"/>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="sexe">Sexe</label>
                        <div class="col-md-7">
                            <select required class="form-control input-sm" id="sexe" ng-model="ctrl.enseignant.sexe">
                              <option value="" disabled selected>Selectionner votre sexe...</option>
              							  <option value="H">HOMME</option>
              							  <option value="F">FEMME</option>
              							</select>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="nom">Nom</label>
                        <div class="col-md-7">
                            <input type="text" ng-model="ctrl.enseignant.nom" id="nom"
                                   class="title form-control input-sm"
                                   placeholder="Entrez votre nom" required
                                   pattern="[A-Za-z]{1,8}"/>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="prenom">Prenom</label>
                        <div class="col-md-7">
                            <input type="text" ng-model="ctrl.enseignant.prenom" id="prenom"
                                   class="title form-control input-sm"
                                   placeholder="Entrez votre prenom" required
                                   pattern="[A-Za-z]{1,8}"/>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="telephone">telephone</label>
                        <div class="col-md-7">
                            <input type="text" ng-model="ctrl.enseignant.telephone" id="telephone"
                                   class="title form-control input-sm"
                                   placeholder="Entrez votre telephone" required
                                   pattern="[0-9]{1,10}"/>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="mobile">mobile</label>
                        <div class="col-md-7">
                            <input type="text" ng-model="ctrl.enseignant.mobile" id="mobile"
                                   class="title form-control input-sm"
                                   placeholder="Entrez votre mobile" required
                                   pattern="[0-9]{1,10}"/>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="type">type</label>
                        <div class="col-md-7">
                            <select required class="form-control input-sm" id="type" ng-model="ctrl.enseignant.type">
                              <option value="" disabled selected>Selectionner votre type...</option>
                              <option value="INT">Intervenant-Extérieur</option>
                              <option value="MCF">Maître de Conférences</option>
                              <option value="PR">Professeur des Universités</option>
                              <option value="PRAG">Professeur Agrégé</option>
                              <option value="PRAST">Professionnel Associé</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="adresse">adresse</label>
                        <div class="col-md-7">
                            <input type="text" ng-model="ctrl.enseignant.adresse" id="adresse"
                                   class="title form-control input-sm"
                                   placeholder="Entrez votre adresse" required
                                   />
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="codePostal">codePostal</label>
                        <div class="col-md-7">
                            <input type="text" ng-model="ctrl.enseignant.codePostal" id="codePostal"
                                   class="title form-control input-sm"
                                   placeholder="Entrez votre codePostal" required
                                   pattern="[0-9]{1,8}"/>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="ville">ville</label>
                        <div class="col-md-7">
                            <input type="text" ng-model="ctrl.enseignant.ville" id="ville"
                                   class="title form-control input-sm"
                                   placeholder="Entrez votre ville" required
                                   pattern="[A-Za-z]{1,8}"/>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="pays">pays</label>
                        <div class="col-md-7">
                            <input type="text" ng-model="ctrl.enseignant.pays" id="pays"
                                   class="title form-control input-sm"
                                   placeholder="Entrez votre pays" required
                                   pattern="[A-Za-z]{1,8}"/>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="emailPerso">Email personel</label>
                        <div class="col-md-7">
                            <input type="email" ng-model="ctrl.enseignant.emailPerso" id="emailPerso"
                                   class="title form-control input-sm"
                                   placeholder="Entrez votre email Personel" required/>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="emailUbo">Email UBO</label>
                        <div class="col-md-7">
                            <input type="email" ng-model="ctrl.enseignant.emailUbo" id="emailUbo"
                                   class="title form-control input-sm"
                                   placeholder="Entrez votre email UBO" required/>
                        </div>
                    </div>

                </div>





                <div class="row">
                    <div class="form-actions floatRight">
                        <input type="submit" value="Ajouter" class="btn btn-primary btn-sm"
                               ng-disabled="myForm.$invalid">
                        <button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm"
                                ng-disabled="myForm.$pristine">Vider la saisie
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <div class="panel panel-default">
    <div class="panel-heading">
    <button type="button" ng-click="ctrl.ajoutervisible()" class="btn btn-primary btn-block"
                                ng-show="!ctrl.ajouterDiv">Ajouter enseignant
    </button>
    <button type="button" ng-click="ctrl.ajoutervisible()" class="btn btn-primary btn-block"
                                ng-show="ctrl.ajouterDiv">Liste des enseignants
    </button>
    </div>
    </div>
    
    <div class="panel panel-default" ng-show="!ctrl.ajouterDiv">

        <!-- Default panel contents -->
        <div class="panel-heading"><span class="lead">Listes des enseignants </span></div>

        <div class="tablecontainer">
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" ng-click="ctrl.sort('noEnseignant')">Numero enseignant
                    <span  ng-show="ctrl.sortKey=='noEnseignant'" ng-class="{' glyphicon glyphicon-chevron-down':ctrl.reverse,'glyphicon glyphicon-chevron-down':!ctrl.reverse}"></span>
                    </th>
                    <th scope="col" ng-click="ctrl.sort('nom')">Nom 
                        <span ng-show="ctrl.sortKey=='nom'" ng-class="{'glyphicon glyphicon-chevron-down':ctrl.reverse,'glyphicon glyphicon-chevron-down':!ctrl.reverse}"></span>
                    </th>
                    <th scope="col" ng-click="ctrl.sort('prenom')">Prenom
                        <span ng-show="ctrl.sortKey=='prenom'" ng-class="{'glyphicon glyphicon-chevron-down':ctrl.reverse,'glyphicon glyphicon-chevron-down':!ctrl.reverse}"></span>
                    </th>
                    <th></th>
                <tr>
                    <th><input type="text" ng-model="search.noEnseignant" placeholder="Numero enseignant"/></th>
                    <th><input type="text" ng-model="search.nom" placeholder="Nom "></th> 
                    <th><input type="text" ng-model="search.prenom" placeholder="Prenom "></th> 
                    <th width="20%"></th>
                </tr>
                </thead>
                <tbody>
                <tr dir-paginate="u in ctrl.enseignants | itemsPerPage: 5 | filter:search | orderBy:ctrl.sortKey:reverse ">
                    <td><span ng-bind="u.noEnseignant"></span></td>
                    <td><span ng-bind="u.nom"></span></td>
                    <td><span ng-bind="u.prenom"></span></td>
                    <td>
                        <button type="button" ng-click="ctrl.getEnseignantmail(u.emailPerso)" class="btn btn-success custom-width">Details
                        </button>
                        <button type="button" ng-click="ctrl.remove(u.noEnseignant)" class="btn btn-danger custom-width">Supprimer
                        </button> 
                    </td>
                </tr>
                </tbody>
                <dir-pagination-controls
                                        max-size="5"
                                        direction-links="true"
                                        boundary-links="true">
                </dir-pagination-controls>
            </table>

        </div>
    </div>
</div>